<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="form-container" style="text-align: center;">
            <h2>Welcome to Google Contacts App</h2>
            <p>Please login to view your contacts.</p>
            <a href="/oauth2/authorization/google">
                <button>Login with Google</button>
            </a>
        </div>
    </body>
</html>
